.patient-form>.field>label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.user-first-name,.user-last-name {
    padding-right: 2px;
}

.borderless-but-last-body > tbody > tr:not(:last-child) > td {
    border-top: none;
}

.diagnosis > h4 {
    font-weight: bold;
}

.section-header {
    margin: 10px 0 10px 0;
}

.section-header > span.section-header-text {
    font-size: 16px;
    font-weight: bold;
}

.actions button {
    width: 170px !important;
}
.delete-action {
    text-align: right;
}

.loading {
    text-align: center;
}
.loading span {

}