.patient-form>.field>label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.float-right {
    float: right;
}

.user {
    margin-top: 20px;
}
.user-first-name,.user-last-name {
    padding-right: 2px;
}
